<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt_BR">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div th:fragment="menu">
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #547E9E;">
			  <div class="container-fluid">
			  	
				  	<a class="navbar-brand text-decoration-none mb-0 text-light font-weight-bold">Projeto Atena</a>
				  	
				  	
				  	<ul class="navbar-nav justify-content-center">
				  	
		                <li class="nav-item dropdown">
		                  <a class="nav-link dropdown-toggle text-decoration-none text-light" href="#" id="navbarDropdown"
		                     role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                    Cadastro
		                  </a>
		                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		                  
		                    <li><a class="dropdown-item text-decoration-none" th:href="@{/aluno/}">Estudante</a></li>
		                    <li><a class="dropdown-item text-decoration-none" th:href="@{/aluno/notas}">Notas</a></li>
		                  </ul>
		                </li>
		
		
		
		
		                <li class="nav-item">
		                  <a class="nav-link text-decoration-none text-light" th:href="@{/relatorio}">Relatório</a>
		                </li>
				  	</ul>
				  	<div class="text-end text-decoration-none text-light">
				  	<form th:action="@{/login/out}" class="form-inline my-2 my-lg-0">
						<span th:text="${session.usuarioAdmin.nome}" style="margin-right:15px; color: lightgray;"></span>
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Sair</button>
					</form>
				  	</div>
		
			    
			  </div>
			</nav>
		</div>
	</div>
</body>
</html>