<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author"
	content="Angela, Andreia, Helena e Lucas">
<title>Projeto Atena</title>
<th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body style="background-color:#fff">
	
	 <th:block th:include="fragments/header :: menu"></th:block>
	 <div class="align-middle" style="margin-top: 150px;">
      <div class="h-100 bg-light" style="color: #868B90">
      <div class="h-100 d-flex flex-column justify-content-center align-items-center bg-light"
      >
      	<h1 class="font-weight-bold">Projeto Atena</h1>
        <h2>Equipe Cronos:</h2>
        <div class="d-flex flex-column justify-content-center align-items-center text-align-center">
        	<h5 class="m-0">Andreia - <a target="_blank" href="https://github.com/andreia23">Github</a></h5>
        	<h5 class="m-0">Ângela - <a target="_blank" href="https://github.com/angela-oliveira">Github</a></h5>
        	<h5 class="m-0">Helena - <a target="_blank" href="https://github.com/HelenaJuliana">Github</a></h5>
        	<h5 class="m-0">Lucas - <a target="_blank" href="https://github.com/LucasRafaelOR">Github</a></h5>
        	<a class="btn btn-primary m-3" target="_blank" href="https://github.com/andreia23/projeto-atena"><i class="fab fa-github"></i> Repositório do projeto</a>
        </div>
        
      </div>
      </div>
	 </div>
	 <th:block th:include="fragments/footerinc :: foot"></th:block> 

	
</body>
</html>