<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<title>Atena - Alunos</title>
<th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body style="background-color: #f5f5f5;">

	 <th:block th:include="fragments/header :: menu"></th:block>
		<div class="container mt-5 h-100 d-flex flex-column justify-content-center align-items-center">
			<div class="p-3 bg-white d-flex flex-column justify-content-center align-items-center border-none" style="border-radius: 20px; box-shadow: 1px 1px 10px #888888;">
				<form th:action="@{/aluno/new}" th:object="${aluno}" method="POST">
					<input type="hidden" th:field="*{id}" />
					<div class="mb-3" style="color: #868B90">
					<label for="nome" class="form-label">Nome</label>
					  <input type="text" class="form-control" style="border-radius: 20px" th:field="*{nome}" name="nome" required/>
					</div>
					<div class="mb-3" style="color: #868B90">
					  <label for="dataNasc" class="form-label">Data Nascimento</label>
					  <input type="date" class="form-control" style="border-radius: 20px"
					  	th:field="*{dataNascimento}" name="dataNasc" placeholder="01/11/1990"
					  	pattern="\d{1,2}\/\d{1,2}\/\d{4}"/>
					</div>
					<input type="hidden" th:field="*{nota1}" />
					<input type="hidden" th:field="*{nota2}" />
					<input type="hidden" th:field="*{nota3}" />
					<input type="hidden" th:field="*{faltas}" />
					<input type="hidden" th:field="*{notaFinal}" />
         <!-- <div class="mb-4 w-100 d-flex justify-content-center">
					<button 
						type="button" 
						class="mx-0 w-100 btn btn-secondary text-light" 
						name="salvar" 
						style="background-color: #7B8F9E; border-radius: 20px; width: 300px">Cancelar</button>
          </div>-->
          <div class="mb-4 w-100 d-flex justify-content-center">
					<button type="submit" class="btn btn-primary" name="salvar" style="border-radius: 20px; width: 300px">Salvar</button>
          </div>
				</form>
			</div>
		</div>
		
	 <th:block th:include="fragments/footerinc :: foot"></th:block> 
</body>
</html>
